/* Write your CSS here */
.not-found-logo{
    width: 30%;
    margin-bottom: 0px;
}
.not-found-heading{
    font-size: 28px;
    font-family: 'Roboto';
    font-weight: 500; 
    color:  #334155;
    margin-top: 0px;
} 
.not-found-description{
    font-size: 16px;
    font-family: 'Roboto';
    font-weight: 500; 
    color:  #64748b;
}
.not-color{
    color: #ffffff;
}